body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: black;
  color: orange;
}

.countdown-container {
  margin-top: 50px;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
